table {
  table-layout: fixed;
}

.cell-off {
  background: black;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
.cell-on {
  background: yellow;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

[ng-cloak] {
  display: none;
}
